  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root{
    --branco-principal: #f4f3ee;
    --cinza-secundaria: #C0C0C0;
    --botao--azul: #167BF7;
    --preto-fundo: #00030C;
}

body{
    background-color: var(--preto-fundo);
    color: var(--branco-principal);
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

*{
    margin: 0;
    padding:0;
}
.container__titulo{
    font-weight: 700;
    font-size: 28px;
}
 .principal {
    background-image: url(../imgs/Background.png);
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
 }

 .container{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
 }

 .container__botao{
    background-color: var(--botao--azul);
    border-radius: 8px;
    padding: 1em;
    display: block;
    text-decoration: none;
    color:var(--branco-principal);
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    margin-bottom: 1em;
 }

 .container__botao__secundario{
    background-color: transparent;
    border: 1px solid var(--branco-principal);
 }

 .container__aviso{
    color: var(--cinza-secundaria);
    font-size: 0.75rem;
 }

 .container__imagem{
   margin: 1em 0 2em 0;
 }

 .container__caixa{
   margin: 0 5em;
 }
 .secundario__imagem{
   width: 80%;
 }
 .secundario{
   align-items: center;
   margin: 0 8em;
   font-family: 'Inter', sans-serif;
 }
 .descricao__titulo{
   font-weight: 700;
   font-size: 3rem;
   color: var(--branco-principal);
   margin-bottom: 0.2em;
 }
.descricao__sub{
   font-weight: 400;
   font-size: 1rem;
   color: var(--cinza-secundaria);
}
.secundario__botao{
   display:inline-block;
   margin-top: 1em;
}
.container__descricao{
   padding: 2em;
}
.dispositivos{
   text-align: center;
}
.dispositivos__lista{
   display: flex;
   justify-content: center;
   list-style-type: none;
   margin: 5em 0;
}
.dispositivos__titulo{
   font-size: 3rem;
   color: var(--branco-principal);
}
.rodape{
   text-align: center;
   color: var(--cinza-secundaria);
   font-weight: 400;
   margin: 2em 3em;
}

.rodape__lista{
   display: flex;
   justify-content: center;
   justify-content: space-between;
   list-style-type: none;
   margin-top: 1em;
}
.rodape__lista a{
   text-decoration: none;
   color: var(--branco-principal);
}
.lista__link a:hover{
   transition: 400ms;
   color: var(--botao--azul);
}
.rodape__texto{
   font-size: 0,8rem;
   margin: 1em;
}
